---
layout: default
title: Preston Whaley | Mechanical Engineer
description: Personal website of Preston Whaley - Mechanical Engineer
permalink: /
---

<div class="sm:flex sm:flex-row-reverse justify-between items-center">
  <img class="h-24 w-24 sm:h-36 sm:w-36 mb-6 sm:mb-0" src="/assets/images/preston.webp" alt="Preston Whaley" />
  <div class="sm:mr-16">
    <h2 class="font-black">
      Preston Whaley
    </h2>
    <span class="text-slate-500 dark:text-slate-300">Mechanical Engineer; Leader; Aspring World-Changer</span>
    <p class="mt-6 dark:text-gray-400" style="text-align: justify;">As a Mechanical Engineer, my passion lies at the intersection of robotics and automation, machine learning, artificial intelligence, and computer-aided design (CAD). My project portfolio is rich with experiences in developing autonomous systems aimed at enhancing efficiency and reducing the reliance on human-driven tasks. I find joy in exercising my creativity to bring challenging ideas to life, playing sports, and spending time with family.</p>
    <div class="mt-4 -ml-2 flex">
    </div>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Awards &amp; Achievements
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">Some of my wins in the past</p>
  
  <div class="mt-6 gap-4 grid grid-flow-row">
    {% assign achievements = 'dean-fellowship-recipient,summa-cum-laude' | split: ',' %}

    {% for str in achievements %}
      {% for achievement in site.data.achievements %}
        {% if achievement[0] contains str %}
          {% include achievement.html %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/wins"
      class="mt-8 px-3 py-2 link-button">
      View all &gt;
    </a>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Education
    <p class="mt-2 text-slate-500 dark:text-slate-300">Academic background</p>
    <div class="mt-6">
    {% assign workexp = site.data.workexp | reverse %}
    {% for job in workexp %}
      {% include job.html %}
    {% endfor %}
    </div>
  </h2>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Featured Projects
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">Projects that I'm proud of</p>

  <div class="mt-6 gap-4 grid grid-flow-row grid-cols-1 sm:grid-cols-3">
    {% assign projects = 'berry-bionic,cropps,eos' | split: ',' %}

    {% for project in site.data.projects %}
      {% if projects contains project[0] %}
        {% include project.html %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/projects"
      class="mt-8 px-3 py-2 link-button">
      View all projects &gt;
    </a>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Testimonials
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">What people say about me</p>
  <div class="mt-6 gap-4 grid grid-flow-row grid-cols-1 md:grid-cols-3">
    {% for testimonial in site.data.testimonials limit: 3 %}
    {% include testimonial.html %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/testimonials"
      class="mt-8 px-3 py-2 link-button">
      View all &gt;
    </a>
  </div>
</div>

<h2 class="mt-16 font-black">
  Contact
</h2>
<p class="mt-2 text-slate-500 dark:text-slate-300">Ways you could reach out to me.</p>

<div class="mt-6 text-lg">
  <p>If you have business related queries, please contact me through my <a href="mailto:pw463@cornell.edu">email address</a>.</p>
</div>
